<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/Css/home.css">
</head>
<body>
    <nav>
    <div class = "site-title">
        <a href = "/"> <h1>ImmaCRAB’s BLOG</h1> </a>
    </div>
    <div>
    <ul class="nav">
        <li><a href ="/"> Blogs </a></li>
        <li><a href ="/about"> About </a></li>
        <li id="new">
            <a href="/articles/create">
                <div class="box">+</div>
                <div class="label">Create New</div>
            </a>
        </li>
        
        
    </ul>
    </div>
    
    </nav>
    <h2 class="title-about"> About the website</h2>
    <div class = "about-content">
        
        <div class="content">
        <p>Welcome to my blog, where the content is an unapologetic dive into the world of brain rot—unfiltered, unapologetic, and a little chaotic. Here, we explore the wild, unpredictable, and sometimes nonsensical journey of life through the lens of what I like to call "bombardilo corcodilo"—an expression of sheer absurdity and curiosity. From the bizarre to the thought-provoking, the aim is to challenge your mind, provoke a laugh, and leave you questioning everything and nothing at the same time. Expect the unexpected, and remember, it's all in the name of fun and chaos. Dive in, let your brain unravel, and enjoy the madness!</p>
    </div>

</body>
</html>